# ignorar los datos
*.json
*.xlsx
*.csv
*.xml
*.sqlite
# ignorar configuración de jetbrains
.idea/
.gradle/
*.iml
*.iws

# Configuración privada
.env

# ignorar archivos generados
undefined-pycharm-support-libs.zip
undefined-pycharm-support-libs/
problems-report.html
build/
lib/
*.jar
*.log
*.bin
*.gz