# ignorar los datos
*.json
*.xlsx
*.csv
*.xml
# ignorar configuración de jetbrains
.idea/
.gradle/
*.iml
*.iws

# Configuración privada
.env

# ignorar archivos generados
problems-report.html
build/
lib/
*.jar
*.log
*.bin
*.gz